<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.voiceversa">


    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" /> // provider_paths.xml file path in this example
        </provider>

        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.Account" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Settings.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.Settings" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Request.RequestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.Request" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Library.LibraryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.Library" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.Settings.ProcessActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.Process" />
            </intent-filter>
        </activity>


    </application>
</manifest>